

@media (max-width: 768px) {



    div.carousel div.carousel-item>img {
        height: 15rem;
    }

    div.carousel div.carousel-item>iframe {
        height: 15rem;
    }



    .slogan-p {
        margin-bottom: 5rem;
    }



    .entry-comments-avatar {
        position: relative;
        float: left;
        margin-right: 1rem;
    }

    .entry-comments-body {
        padding-left: 0;
    }

    .entry-comments-author {
        line-height: 3.7rem;
    }





    .main-sidebar {
        box-shadow: none;
        height: 3.75rem;
    }



    body>div.container-fluid>div>div>div.main-content-container.container-fluid.px-4>div.page-header.row.py-4 {
        padding-top: 5rem !important;
    }


    .copyright {
        margin-left: 5rem;
    }
}