<html>
<body>
<!-- Start Confirmation Mail-->
<h3>Félicitations, vous êtes enregistrés chez Snowtricks !</h3>

Bonjour {{ username }} !
<br>
Votre compte a été validé et vous pouvez vous connecter.
<br>
Vous pouvez profiter des maitenan de notre site!
<br>
Cordialement,

<h3>Snowtricks.<h3>
        <!-- End Confirmation Mail -->
</body>
</html>