{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-12 col-md-offset-1 mt-5 mb-4">
                <body>

                <div class="d-flex" id="wrapper">

                    <!-- Sidebar -->
                    <div class="bg-light border-right" id="sidebar-wrapper">
                        <div class="sidebar-heading">Dashboard</div>
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action bg-light">Mes Données</a>
                            <a href="#" class="list-group-item list-group-item-action bg-light">Mes tricks</a>
                            <a href="#" class="list-group-item list-group-item-action bg-light">Mes commentaires</a>


                        </div>
                    </div>
                    <!-- /#sidebar-wrapper -->

                    <!-- Page Content -->
                    <div id="page-content-wrapper">



                        <div class="container-fluid">
                            <h1 class="mt-4">asdfsdf</h1>

                        </div>
                    </div>


                </body>
            </div>
        </div>
    </div>

{% endblock %}

